body {
  margin: 0;
  padding: 0;
}

.center-header {
  text-align: center;
}

#header-title {
  padding-bottom: 0;
}

table a {
  text-decoration: none;
}

.avatar {
  display: block;
  margin: auto;
  border-radius: 50%;
  width: 80%;
}

.info {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
}

#clear-history:hover {
  text-shadow: 0px 1px 12px rgba(227, 26, 157, 0.68);
}

#clear-history:active {
  text-shadow: 0px 1px 12px rgba(0, 253, 34, 0.68);
}
