html,
body {
  height: 99%;
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin: auto;
  background-color: rgb(241, 234, 226);
  border-radius: 5%;
}

* {
  transition: all;
  transition-duration: 0.2s;
}

.column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.word {
  font-family: "Courier New", Courier, monospace;
  font-size: 50px;
  border: 3px solid rgb(198, 74, 198);
  width: auto;
  border-radius: 20px;
  padding: 5px 20px;
}

#attempt {
  color: rgb(255, 0, 0);
  font-weight: 600;
}

.btn {
  width: auto;
  border-radius: 50px;
  background-color: aliceblue;
  padding: 10px;
  border: 0px;
  font-size: 24px;
  margin: 20% 0;
}

#btn-new-game {
  visibility: hidden;
}

.btn:hover {
  background-color: rgb(244, 221, 189);
}

table,
th,
td {
  background-color: rgb(83, 235, 184);
}

th,
td {
  border-bottom: 1px solid #000000;
}

td:hover {
  background-color: rgb(53, 50, 191);
  color: aliceblue;
}

.clickable {
  cursor: pointer;
}

.clickable:hover {
  size: 10px;
}
